.features__text {
  color: var(--basic-gray);
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 300;
}
.features__slogan {
  background-color: var(--light-gray);
}
.features__list {
  background: url() no-repeat bottom;
  padding-bottom: 325px;
}
.features__heading {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 1.34em;
  font-weight: 700;
}
.features__description {
  color: var(--basic-gray);
}
