.main-nav {
  background-color: var(--basic-black03);
}
.main-nav__toggle {
  cursor: pointer;
  width: 50px;
  height: 24px;
  background: none;
  border: none;
  background-image: url("../img/open-menu-btn.svg");
  &:hover,
  &:focus {
    background-image: url("../img/open-menu-btn-hover.svg");
  }
  &:active {
    background-image: url("../img/open-menu-btn-active.svg");
  }
}
