.page-main {
  background-color: var(--basic-white);
}

.page-main__header {
  background-color: var(--blue-black);
  padding: 36px 46px 51px 46px;
  //background: url() no-repeat;
}

.page-main__title {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 1.38em;
  font-weight: 300;
  margin: 0 auto;

  @media (min-width: @tablet) {
    font-size: 50px;
    line-height: 1.36em;
    width: 490px;
  }

  @media (min-width: @desktop) {
    width: 756px;
  }
}

.page-main__resume,
.page-main__slogan {
  color: var(--basic-gray);
  font-size: 14px;
  line-height: 2.14em;
  font-weight: 400;
}

.page-main__tools {
  background-color: var(--light-gray);
}
