.page-main {
  background-color: var(--basic-white);
}

.page-main__header {
  background-color: var(--blue-black);
  padding: 36px 46px 51px 46px;
  //background: url() no-repeat;
}

.page-main__title {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 1.38em;
  font-weight: 300;
  margin: 0 auto;

  @media (min-width: @tablet) {
    font-size: 50px;
    line-height: 1.36em;
    padding: 0 85px;
  }

  @media (min-width: @desktop) {
    width: 756px;

    &--catalog {
      width: 500px;
    }
  }
}

.page-main__resume,
.page-main__slogan {
  margin: 0 auto;
  color: var(--basic-gray);
  font-size: 14px;
  line-height: 2.14em;
  font-weight: 400;
  padding: 0 35px;

  @media (min-width: @tablet) {
    font-size: 18px;
    line-height: 1.67em;
    padding: 0 85px;
  }

  @media (min-width: @desktop) {
    width: 600px;
  }
}

.page-main__tools {
  width: 100%;
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 47px;
    justify-content: space-between;
  }

  @media (min-width: @desktop) {
    width: 940px;
    box-sizing: border-box;
    flex-direction: row;
    grid-gap: 90px;
    grid-template-columns: 300px 1fr;
    margin: 0 auto;
    padding: 57px 60px 57px 80px;
  }
}

.page-main__container {
  padding: 0 20px;
  min-width: 280px;
  min-height: 374px;

  @media (min-width: @tablet) {
    padding-right: 0;
    min-width: 300px;
    min-height: 400px;
  }

  @media (min-width: @desktop) {
    padding: 0;
  }
}

.page-main__tools-photo {
  object-fit: cover;
  width: 100%;
}
