.page-main {
  background-color: var(--basic-white);
}

.page-main__header {
  background-color: var(--blue-black);
  padding: 36px 46px 51px 46px;
  //background: url() no-repeat;
}

.page-main__title {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 1.38em;
  font-weight: 300;
  margin: 0 auto;

  @media (min-width: @tablet) {
    font-size: 50px;
    line-height: 1.36em;
    width: 490px;
  }

  @media (min-width: @desktop) {
    width: 756px;

    &--catalog {
      width: 500px;
    }
  }
}

.page-main__resume,
.page-main__slogan {
  margin: 0 auto;
  color: var(--basic-gray);
  font-size: 14px;
  line-height: 2.14em;
  font-weight: 400;

  @media (min-width: @tablet) {
    font-size: 18px;
    line-height: 1.67em;
    width: 490px;
  }

  @media (min-width: @desktop) {
    width: 600px;
  }
}

.page-main__tools {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet) {
    flex-direction: row;
    gap: 47px;
    margin: 0 20px;
    justify-content: space-around;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
    gap: 90px;
    margin: 0 130px;
    padding: 57px 60px 57px 80px;
  }
}
