.reviews__list {
  list-style: none;
}
.reviews__author {
  font-size: 18px;
  line-height: 1.67em;
  font-weight: 700;
  font-style: normal;
}
.reviews__text {
  font-size: 14px;
  line-height: 2.14em;
}
